/* Base Color Palette */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap");

:root {
    --clr-black: hsl(0, 0%, 0%);
    --clr-primary: hsl(259, 100%, 65%);
    --clr-light-red: hsl(0, 100%, 67%);

    --clr-text: var(--clr-off-black);
    --clr-body-background: var(--clr-off-white);
}

/* Neutral Colors */
:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-off-white: hsl(0, 0%, 94%);
    --clr-light-gray: hsl(0, 0%, 86%);
    --clr-smokey-gray: hsl(0, 1%, 44%);
    --clr-off-black: hsl(0, 0%, 8%);
}

/* Base Styles */
:root {
    --body-font-size: 16px;
    --body-font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    margin: 0;
    padding: 0;
    font-size: var(--body-font-size);
}

body,
#age-calculator-app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--clr-text);
    background: var(--clr-body-background);
    transition: all 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* ----- Vue Transitions ----- */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
    transition: all 0.5s ease;
    transform: translateY(1rem);
}

.slide-down-enter-from,
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(0);
}

.count-up-enter-active,
.count-up-leave-active {
    transition: all 20ms;
}

.count-up-enter,
.count-up-leave-to {
    opacity: 0;
    transform: translateY(20px);
}
